@{
    ViewBag.Title = "Vendas Externas";
    var orders = (List<MaisLifeModel.Pedido>)ViewBag.Orders;
    var user = (MaisLifeModel.Usuario)ViewBag.User;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="upper-menu">
    <ul class="list-group">       
        <li class="list-group-item disabled" data-id="item-edit">
            <a href="#"><span class="fa fa-edit" aria-hidden="true"></span></a>
        </li>
        <li class="list-group-item disabled" data-id="item-remove">
            <a href="#"><span class="fa fa-remove" aria-hidden="true"></span></a>
        </li>
    </ul>
</div>
<div id="productForm" class="container admin-page patner-page">   
    @Html.Partial("Partials/_orderAdd")
</div>
<div id="orderTable" class="container admin-page patner-page">
    <div class="page-header">
        <h1>Vendas <small class="right">Gerenciamento (@orders.Count)</small></h1>
    </div>
    @Html.Partial("Partials/_orderTable", orders)
    @using (Ajax.BeginForm("RemoveItem", "VendaExterna", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace        
    }, new { name = "item-remove" }))
    {
       
    }
    
    @using (Ajax.BeginForm("SendItemToEdit", "VendaExterna", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace       
    }, new { name = "item-edit" }))
    {
        
    }    
</div>
<div class="fade-io" data-id="fade-remove">
    <div class="panel panel-default confirm-panel">
        <div class="panel-heading">
            Você tem certeza que deseja remover estes itens?
        </div>
        <div class="panel-body">
            <button class="btn btn-danger" data-id="confirm-panel-yes">Remover</button>
            <button class="btn btn-default" data-id="confirm-panel-close">Fechar</button>
        </div>
    </div>
</div>

