<script src="~/JavaScripts/MapScript.js"></script> 
@{
    ViewBag.Title = "Mapas de entregas";
    var maps = (List<MaisLifeModel.Mapaentrega>)ViewBag.Maps;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="upper-menu">
    <ul class="list-group">
        <li class="list-group-item disabled" data-id="item-edit">
            <a href="#"><span class="fa fa-edit" aria-hidden="true"></span></a>
        </li>
        <li class="list-group-item disabled" data-id="item-remove">
            <a href="#"><span class="fa fa-remove" aria-hidden="true"></span></a>
        </li>
    </ul>
</div>
<div id="mapForm" class="container admin-page patner-page">   
    @Html.Partial("Partials/_MapAdd")
</div>
<div id="mapTable" class="container admin-page patner-page">
    <div class="page-header">
        <h1>Mapas de Entrega <small class="right">Gerenciamento (@maps.Count)</small></h1>
    </div>
    @Html.Partial("Partials/_MapTable", maps)
    @using (Ajax.BeginForm("RemoveItem", "Produto", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace
        }, new { name = "item-remove" }))
    {

    }

    @using (Ajax.BeginForm("SendItemToEdit", "Produto", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace
        }, new { name = "item-edit" }))
    {

    }
</div>
<div class="fade-io">
    <div class="panel panel-default confirm-panel">
        <div class="panel-heading">
            Você tem certeza que deseja remover estes itens?
        </div>
        <div class="panel-body">
            <button class="btn btn-danger" data-id="confirm-panel-yes">Remover</button>
            <button class="btn btn-default" data-id="confirm-panel-close">Fechar</button>
        </div>
    </div>
</div>

