.search-btn {
    cursor: pointer;
}

.search-btn:hover{
    background: #DDD;
}

.order-box{
    
}

.order-box .order-selected{

}

.order-box .order-unselected div {

}

.order-box div .map-report {
    float: left;
    padding: 10px;
    border: 1px solid #CCC;
    width: 100%;
    text-align: center;
    background: #CCC;
    color: #777;
    margin-bottom: 10px;
}

.order-box div div .order-content {
    float: left;
    padding: 5px;
    border: 1px solid #DDD;
    background: #EEE;
    cursor: pointer;
    margin-bottom: 20px;
}

.order-box div div .order-content:hover {
    box-shadow: 0px 0px 10px #11252b;
}

.order-box div div .order-link {
    position: absolute;
    top: -25px;
    border-radius: 60px;
    float: right;
    padding: 5px;
    cursor: pointer;
    border: 2px solid #CCC;
    right: 0px;
    background-color: #DDDDDD;
}

.order-box div div .order-link:hover{
    border: 2px solid #777;
}

.order-box div div .selected {
    background: #CCC;
    box-shadow: 0px 0px 10px #11252b;
}

.order-box div div .order-content .order-header {
    float: left;
    width: 100%;
    padding: 5px;
}

.order-box div div .order-content .order-header .order-header-client {
    float:left;
    width: 50%;
}

.order-box div div .order-content .order-header .order-header-value {
    float:left;
    width: 50%;
    text-align: right;   
    font-weight: bold;
}

.order-box div div .order-content .order-body {
    float: left;
    width: 100%;
    padding: 5px;
}

.order-box div div .order-content .order-body .order-deliveryDate {

}

.order-box div div .order-content .order-footer {
    float: left;
    width: 100%;
    padding: 5px;
}

.order-box div div .order-content .order-footer .order-seller{

}

.add-footer {
    float: left;
    width: 100%;
    padding: 10px;   
}

.print-area {
    font-size: 12px!important;
    padding: 20px;
}

.print-area table{
    font-size: inherit!important;
}

.print-area table tr th{
    font-weight: 700;
}

.print-area table tr td, .print-area table tr th {
    text-align: center;
    min-height: 30px;
}
