@{
    ViewBag.Title = "Parceiros";
    var patners = (List<MaisLifeModel.Parceiro>)ViewBag.Patners;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="upper-menu">
    <ul class="list-group">        
        <li class="list-group-item disabled" data-id="item-edit">
            <a href="#"><span class="fa fa-edit" aria-hidden="true"></span></a>
        </li>
        <li class="list-group-item disabled" data-id="item-remove">
            <a href="#"><span class="fa fa-remove" aria-hidden="true"></span></a>
        </li>
    </ul>
</div>
<div id="patnerForm" class="container admin-page patner-page">
    <div class="page-header">
        <h3>Inserir Parceiro</h3>
    </div>
    @Html.Partial("Partials/_PatnerAdd")
</div>
<div id="patnerTable" class="container admin-page patner-page">
    <div class="page-header">
        <h1>Parceiros <small class="right">Gerenciamento (@patners.Count)</small></h1>
    </div>
    @Html.Partial("Partials/_PatnerTable", patners)
    @using (Ajax.BeginForm("RemoveItem", "Parceiro", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace
    }, new { name = "item-remove" }))
    {

    }

    @using (Ajax.BeginForm("SendItemToEdit", "Parceiro", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace
    }, new { name = "item-edit" }))
    {

    }
    
</div>
<div class="fade-io" data-id="fade-remove">
    <div class="panel panel-default confirm-panel">
        <div class="panel-heading">
            Você tem certeza que deseja remover estes itens?
        </div>
        <div class="panel-body">
            <button class="btn btn-danger" data-id="confirm-panel-yes">Remover</button>
            <button class="btn btn-default" data-id="confirm-panel-close">Fechar</button>
        </div>
    </div>
</div>

