@model IEnumerable<MaisLifeModel.Models.mapaentrega>
<table class="table-hover">
    <tr>       
        <th>Entrega</th>
        <th>Observação</th>        
    </tr>
    @foreach (var map in @Model)
    {
        <tr data-id="@map.id" data-content="patner-row" data-info="unselected">            
            <td style="height: 60px">
                @map.data_entrega
            </td>
            <td>
                @map.observacao
            </td>           
        </tr>
    }
</table>
