@model IEnumerable<MaisLifeModel.Mapaentrega>
<table class="table-hover">
    <tr>       
        <th>Entrega</th>
        <th>Observação</th>        
    </tr>
    @foreach (var map in @Model)
    {
        <tr data-id="@map.Id" data-content="patner-row" data-info="unselected">            
            <td style="height: 60px">
                @map.Data_entrega
            </td>
            <td>
                @map.Observacao
            </td>           
        </tr>
    }
</table>
